<div class="contact-container-new">
  <div class="title-new"><h1>Contact Dvio</h1></div>
  <div class="sub-text-new"><h2>Envie de travailler avec nous ?<br>De suivre notre aventure de près ?</h2></div>
  <div class="all-contacts">
    <a href="mailto:contact@dvio.fr?cc=maya.douadi@outlook.fr&subject=[Projet%20Contact]" target="_blank">
    <div class="contact-new" (click)="goToMail()">
      <div class="round-contact blue-back">
        <i class="far fa-envelope"></i>
      </div>
      <div class="contact-title"><h3>EMAIL</h3></div>
      <div class="contact-content blue-line"><h3>Ecrivez-nous</h3></div>
    </div>
    </a>
    <div class="contact-new">
      <div class="round-contact pink-back">
        <i class="fas fa-phone"></i>
      </div>
      <div class="contact-title"><h3>PHONE</h3></div>
      <div class="contact-content pink-line">(+33/0)661691605</div>
    </div>
    <a href="https://www.linkedin.com/company/dviocompany/" target="_blank">
      <div class="contact-new" (click)="goToLink()">
        <div class="round-contact orange-back">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="contact-title"><h3>LINKEDIN</h3></div>
        <div class="contact-content orange-line"><h3>Rejoignez notre réseau</h3></div>
      </div>
    </a>
    <a href="https://twitter.com/DvioTeam" target="_blank">
      <div class="contact-new" (click)="goToTwitter()">
        <div class="round-contact green-back">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="contact-title"><h3>TWITTER</h3></div>
        <div class="contact-content green-line"><h3>Suivez-nous</h3></div>
      </div>
    </a>
  </div>
</div>
