<!-- Banner Style -->
<div class="home-banner2" [ngStyle]="{'marginTop': variableService.hauteur}">
  <div class="home-text-container2">
    <div class="title-home-banner2">Dvio?</div>
    <div class="random-text-banner2">350kg of human, sprinkled with efficiency and professionalism, on his bed of kindness and positive energy.</div>
  </div>
  <div class="home-img">
    <img src="../../../assets/about-banner2.png" alt="" class="home-banner-img2">
  </div>
</div>

<!-- Arrow Down -->
<div class="arrow2" id="down2"><i class="fa fa-2x fa-chevron-down" [ngClass]="{'hidden': variableService.hauteurEcran > variableService.largeur}"></i></div>

<!-- Text About us Part -->
<div class="about-text-container" id="about-container" [ngStyle]="{'background-image': variableService.largeur > 600 ? 'url(\'../../../assets/about-text-fond.png\')' : 'none'}">
  <div class="about-text">
    Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
    Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong> adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.<br><br>
    Alii nullo quaerente vultus severitate adsimulata patrimonia sua.
  </div>
</div>

<!-- Title Who are we ? -->
<div class="title1-container">
  <div class="title1-text">Who are we?</div>
  <div class="line"></div>
</div>

<div class="deskop-type" id="deskop-type" [ngClass]="{'hidden': variableService.largeur < 500 && variableService.hauteurEcran > variableService.largeur}">
  <!-- Who are we Part -->
  <div class="who-container">
    <div class="person-container" id="person1"
         (mouseover)="hover(1)" (mouseleave)="leave()" [ngClass]="{'hidden': hovered != 1}">
      <div class="person">
        <img src="../../../assets/person1.jpg" alt="" class="person-profil">
      </div>
      <div class="person1-name">
        <a href="https://www.linkedin.com/in/mayadouadi/" class="person1-name">Maya Douadi</a>
      </div>
    </div>
    <div class="person1-text opacity" id="person1-text" [ngClass]="{'hidden': hovered != 1}">
      Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong> adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.<br><br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua.
    </div>
    <div class="person3-text opacity" id="person3-text" [ngClass]="{'hidden': hovered != 3}">
      Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong> adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.<br><br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua.
    </div>
    <div class="person2-left-text opacity" id="person2-left-text" [ngClass]="{'hidden': hovered != 2}">
      Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt.
    </div>
    <div class="person-container" id="person2"
         (mouseover)="hover(2)" (mouseleave)="leave()" [ngClass]="{'hidden': hovered != 2}">
      <div class="person">
        <img src="../../../assets/person2.jpg" alt="" class="person-profil">
      </div>
      <div class="person2-name">
        <a href="https://www.linkedin.com/in/yasminedouadi/" class="person2-name">Yasmine Michel</a>
      </div>
    </div>
    <div class="person2-right-text opacity" id="person2-right-text" [ngClass]="{'hidden': hovered != 2}">
      Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt.
    </div>
    <div class="person-container" id="person3"
         (mouseover)="hover(3)" (mouseleave)="leave()" [ngClass]="{'hidden': hovered != 3}">
      <div class="person">
        <img src="../../../assets/person3.jpg" alt="" class="person-profil">
      </div>
      <div class="person3-name">
        <a href="https://www.linkedin.com/in/armandbegue/" class="person3-name">Armand Bègue</a>
      </div>
    </div>
  </div>

  <!-- Our Team Part -->
  <div class="team-container">
    <div class="team-img-container">
      <img src="../../../assets/about-team.png" alt="" class="team-img">
    </div>
    <div class="team-text">
      Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong> adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.<br><br>
      Alii nullo quaerente vultus severitate adsimulata patrimonia sua.
    </div>
  </div>
</div>

<!-- Phone Screen Type Part -->
<div class="phone-type" id="phone-type" [ngClass]="{'hidden': variableService.largeur > 500 || variableService.hauteurEcran < variableService.largeur}">
  <!-- Arrow to the left -->
  <div class="arrow-left" id="arrow-left3" (click)="arrowLeft()" [ngClass]="{'opacity': personIndex == 1}">
    <i class="fa fa-3x fa-chevron-left"></i>
  </div>

  <div class="element-container">
    <div class="element1" id="element1" [ngClass]="{'hidden': personIndex != 1}">
      <div class="person-container">
        <div class="person">
          <a href="https://www.linkedin.com/in/mayadouadi/" class="person1-name"><img src="../../../assets/person1.jpg" alt="" class="person-profil"></a>
        </div>
        <div class="person1-name">
          <a href="https://www.linkedin.com/in/mayadouadi/" class="person1-name">Maya Douadi</a>
        </div>
      </div>
      <div class="person-text-general">
        Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong>
      </div>
    </div>
    <div class="element2 hidden" id="element2" [ngClass]="{'hidden': personIndex != 2}">
      <div class="person-container">
        <div class="person">
          <a href="https://www.linkedin.com/in/yasminedouadi/" class="person2-name"><img src="../../../assets/person2.jpg" alt="" class="person-profil"></a>
        </div>
        <div class="person2-name">
          <a href="https://www.linkedin.com/in/yasminedouadi/" class="person2-name">Yasmine Michel</a>
        </div>
      </div>
      <div class="person-text-general">
        Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong>
      </div>
    </div>
    <div class="element3 hidden" id="element3" [ngClass]="{'hidden': personIndex != 3}">
      <div class="person-container">
        <div class="person">
          <a href="https://www.linkedin.com/in/armandbegue/" class="person3-name"><img src="../../../assets/person3.jpg" alt="" class="person-profil"></a>
        </div>
        <div class="person3-name">
          <a href="https://www.linkedin.com/in/armandbegue/" class="person3-name">Armand Bègue</a>
        </div>
      </div>
      <div class="person-text-general">
        Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong>
      </div>
    </div>
    <div class="element4 hidden" id="element4" [ngClass]="{'hidden': personIndex != 4}">
      <div class="person-container">
        <div class="person">
          <img src="../../../assets/about-team.png" alt="" class="person-profil">
        </div>
        <div class="person1-name">
          <p class="person4-name">The crew</p>
        </div>
      </div>
      <div class="person-text-general">
        Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong>
      </div>
    </div>
  </div>

  <!-- Arrow to the right -->
  <div class="arrow-right" id="arrow-right3" (click)="arrowRight()" [ngClass]="{'opacity': personIndex == nbPersons}">
    <i class="fa fa-3x fa-chevron-right"></i>
  </div>
</div>

<!-- Title Our technologies -->
<div class="title1-container">
  <div class="title1-text">Our technologies</div>
  <div class="line"></div>
</div>

<!-- Technologies part -->
<div class="technologies-container">
  <div class="technologie icon-left">
    <div class="tech-img"><i class="fab fa-4x fa-html5 one-icon image-icon"></i></div>
    <div class="tech-title one-title">HTML</div>
  </div>
  <div class="technologie">
    <div class="tech-img"><i class="fab fa-4x fa-css3 two-icon image-icon"></i></div>
    <div class="tech-title two-title">CSS</div>
  </div>
  <div class="technologie icon-right">
    <div class="tech-img"><i class="fab fa-4x fa-php three-icon image-icon"></i></div>
    <div class="tech-title three-title">PHP</div>
  </div>
  <div class="technologie icon-left">
    <div class="tech-img"><i class="fab fa-4x fa-js four-icon image-icon"></i></div>
    <div class="tech-title four-title">Javascript</div>
  </div>
  <div class="technologie">
    <div class="tech-img"><img src="../../../assets/typescript.png" alt="" class="one-icon image-icon"></div>
    <div class="tech-title one-title">Typescript</div>
  </div>
  <div class="technologie icon-right">
    <div class="tech-img"><img src="../../../assets/symfony.png" alt="" class="image-icon two-icon"></div>
    <div class="tech-title two-title">Symfony</div>
  </div>
  <div class="technologie icon-left">
    <div class="tech-img"><img src="../../../assets/ruby.png" alt="" class="three-icon image-icon"></div>
    <div class="tech-title three-title">Ruby (&Rails)</div>
  </div>
  <div class="technologie icon-right">
    <div class="tech-img"><i class="fab fa-4x fa-angular four-icon image-icon"></i></div>
    <div class="tech-title four-title">Angular</div>
  </div>
</div>
