<!-- Header Style -->
<div class="header" id="header" [ngClass]="{'header-shadow': scrollService.scrollY > 400}">
  <div class="logo-container" routerLinkActive="active">
    <a routerLink="home"><img src="../../../assets/logo.png" alt="" class="logo"></a>
  </div>
  <div class="sub-header" routerLinkActive="active">
    <div class="container-header"><a routerLink="work" class="work-header">Work</a></div>
    <div class="container-header"><a routerLink="contact" class="contact-header">Contact</a></div>
    <div class="container-header"><a routerLink="about" class="about-header">About us</a></div>
  </div>
</div>
