<!-- Header Style -->
<div class="header" id="header" [ngClass]="{'header-shadow': (scrollService.scrollY > 400 && variableService.largeur > 500) || (scrollService.scrollY > 70 && variableService.largeur < 500)}">
  <div class="logo-container" routerLinkActive="active">
    <a routerLink="home"><img src="../../../assets/logo.png" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="logo"></a>
  </div>
  <div class="sub-header" routerLinkActive="active">
    <div class="container-header"><a routerLink="work" class="work-header">Work</a></div>
    <div class="container-header"><a routerLink="devis" class="devis-header">Devis</a></div>
    <div class="container-header"><a routerLink="contact" class="contact-header">Contact</a></div>
    <div class="container-header"><a routerLink="about" class="about-header">About us</a></div>
  </div>
</div>
