<!-- Banner Client 1 Style -->
<a href="https://damecoeur-4cffc.firebaseapp.com/home" lazy-load-images>
  <div class="client-banner" [attr.data-background-src]="'../../../assets/client1.png'" [ngClass]="{'myMarginDouble': variableService.largeur > 1080, 'myMarginSept': variableService.largeur < 1080}" (click)="goTo()">
    <div class="client-name-banner">Dame de Coeur</div>
  </div>
</a>
<!-- Title Project -->
<div class="title4-container">
  <div class="title1-text"><h1>Project</h1></div>
  <div class="line"></div>
</div>

<!-- Text Project Style -->
<div class="text-project" ngsReveal>
  <h1>
    Afin de faire honneur à <strong>la cuisine française</strong> et aux valeurs transcrites par la famille Duchatel, nous avons réalisé un site moderne et épuré tout en soulignant le traditionnel cher à la <strong>Dame de Cœur.</strong> <br> <br>
    De ce fait, le site fait place au menu du restaurant et son détail, tout en narrant l'histoire des restaurateurs ainsi que les différents moyens de contacts utiles à l'utilisateur. Quelques animations en <strong>Javascript </strong>pour un effet élégant et fluide et le tour est joué !<br> <br>
    Si vous souhaitez visiter le site <em>(ou manger un bon petit plat)</em>, <strong>n'hésitez pas à cliquer sur le logo de Dame de Coeur</strong>, plus haut.
  </h1>
</div>
<div class="client-detail-tech">
  <div class="client-detail-container" [ngsRevealSet]="{ reset:false}" [ngsInterval]="250" [ngsSelector]="'.log2'">
    <div class="client-detail log2">
      <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon2"></i></div>
      <div class="detail-name four-title"><h2>Javascript</h2></div>
    </div>
    <div class="client-detail log2">
      <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon2"></i></div>
      <div class="detail-name one-title"><h2>HTML</h2></div>
    </div>
    <div class="client-detail log2">
      <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon2"></i></div>
      <div class="detail-name two-title"><h2>CSS</h2></div>
    </div>
  </div>
</div>

<!-- Vague Fond Part -->
<div class="client1-fond" lazy-load-images>
  <div class="title-fond">V I E W</div>
  <div class="image-fond-container">
    <div class="image-fond2 produit">
      <img [attr.data-src]="'../../../assets/client1-img1.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="img-middle">
    </div>
    <div class="image-fond1">
      <div class="produit">
        <img [attr.data-src]="'../../../assets/client1-img3.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="img-right">
      </div>
      <div class="produit">
        <img [attr.data-src]="'../../../assets/client1-img2.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="img-left">
      </div>
    </div>
  </div>
</div>

<!-- Other Project Bar -->
<div routerLinkActive="active">
  <a routerLink="/work/esmel-lian">
    <div class="other-project">
      <!-- Text -->
      <div><h2 class="other-text">Other project</h2></div>
    </div>
  </a>
</div>
