<!-- Banner Style -->
<div class="home-banner" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginDouble': variableService.largeur < 1080 && variableService.largeur > 500, 'myMarginSept': variableService.largeur < 500}" lazy-load-images>
  <div class="home-text-container">
    <div class="title-home-banner">
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="250">Be smart</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="600">Be attractive</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="950">Adopt <span class="underline">Dvio</span></span></div>
    </div>
    <div class="random-text-banner">Il n'a jamais été aussi facile de donner vie à son projet et ce, en toute sérénité et simplicité. <br>Accordez-vous cette chance.</div>
  </div>
  <div class="home-img">
    <img [attr.data-src]="'../../../assets/home-banner.png'"  alt="" class="home-banner-img">
  </div>
</div>

<!-- Arrow Down -->
<div class="arrow" id="down"><i class="fa fa-2x fa-chevron-down" [ngClass]="{'hidden': variableService.hauteurEcran > variableService.largeur}"></i></div>

<!-- Title Why Working With Us ? -->
<div class="title1-container">
  <div class="title1-text">Pourquoi travailler avec nous ?</div>
  <div class="line"></div>
</div>

<!-- Reasons why Part -->
<div class="reason-container" [ngsRevealSet]="{ reset:true}" [ngsInterval]="300" [ngsSelector]="'.reason'" lazy-load-images>
  <div class="reason">
    <div class="reason-title blue-title">
      Sécurité
    </div>
    <div class="reason-text blue-text">
      Un produit sécurisé et dans le respect des lois RGPD, nous concevrons.
    </div>
    <div class="reason-img-container rotate">
      <img [attr.data-src]="'../../../assets/reason1.png'" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title pink-title">
      Design
    </div>
    <div class="reason-text pink-text">
      Entre vos goûts et tendances actuelles, le meilleur visuel nous créerons.
    </div>
    <div class="reason-img-container">
      <img [attr.data-src]="'../../../assets/reason2.png'" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title orange-title">
      Efficacité
    </div>
    <div class="reason-text orange-text">
      Un service de qualité et un professionnalisme, nous vous promettons.
    </div>
    <div class="reason-img-container">
      <img [attr.data-src]="'../../../assets/reason3.png'" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" class="ombre-img">
    </div>
  </div>
</div>

<!-- Title Our Expertise -->
<div class="title1-container">
  <div class="title1-text">Notre expertise</div>
  <div class="line"></div>
</div>

<!-- Expertise Part -->
<div class="expertise-container" id="expertise-container" lazy-load-images>
  <div class="expertise-img-container" [ngsReveal]="{reset:true}">
    <img [attr.data-src]="'../../../assets/expertise2.png'"  alt="" class="expertise-img">
  </div>
  <div class="expertise-text" data-aos="fade-down" data-aos-duration="300" data-aos-delay="100">
    Notre politique est simple : <strong>Vous simplifier la vie. </strong><br> <br>
    Nous vous accompagnons du début jusqu'à la fin dans tous les aspects de la conception de votre projet d'application web.<strong> De l'asssemblage de la maquette jusqu'au déploiement du produit final,</strong> nous mettons nos compétences à vos services afin de créer votre idéal. <br> <br>
    Notre équipe, composée de talentueux profils, mettra tout en oeuvre pour satisfaire vos exigences.
  </div>
</div>

<!-- Title Interested in our services? -->
<div class="title1-container yolo">
  <div class="title1-text">Interressez par nos services ?</div>
  <div class="line"></div>
</div>

<!-- Contact part -->
<div class="contact-container1" >
  <form action="" class="contact1" [ngsRevealSet]="{ reset:true}" [ngsInterval]="200" [ngsSelector]="'.contact-div'">
    <div class="contact-div">
      <label for="email"></label>
      <input type="text" id="email" name="email" class="input-contact" placeholder="Email...">
    </div>
    <div class="contact-div">
      <label for="subject"></label>
      <input type="email" id="subject" name="subject" class="input-contact" placeholder="Subject...">
    </div>
    <div class="contact-div">
      <label for="msg"></label>
      <textarea id="msg" name="msg" class="textarea-contact" placeholder="Message..."></textarea>
    </div>
    <div class="contact-div">
      <button type="submit" class="button-contact">Send</button>
    </div>
  </form>
</div>
