<!-- Banner Style -->
<div class="home-banner" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginDouble': variableService.largeur < 1080 && variableService.largeur > 500, 'myMarginSept': variableService.largeur < 500}" lazy-load-images>
  <div class="home-text-container">
    <div class="title-home-banner">
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="250">Be smart</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="600">Be attractive</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="950">Adopt <span class="underline">Dvio</span></span></div>
    </div>
    <div class="random-text-banner"><h1>Il n'a jamais été aussi facile de donner vie à son projet et ce, en toute sérénité et simplicité. <br>Accordez-vous cette chance.</h1></div>
  </div>
  <div class="home-img">
    <img [attr.data-src]="'../../../assets/home-banner.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="home-banner-img">
  </div>
</div>

<!-- Arrow Down -->
<div class="arrow" id="down"><i class="fa fa-2x fa-chevron-down" [ngClass]="{'hidden': variableService.hauteurEcran > variableService.largeur}"></i></div>

<!-- Title Why Working With Us ? -->
<div class="title1-container">
  <div class="title1-text"><h2>Pourquoi travailler avec nous ?</h2></div>
  <div class="line"></div>
</div>

<!-- Reasons why Part -->
<div class="reason-container" [ngsRevealSet]="{ reset:true}" [ngsInterval]="300" [ngsSelector]="'.reason'" lazy-load-images>
  <div class="reason">
    <div class="reason-title blue-title">
      <h2>Sécurité</h2>
    </div>
    <div class="reason-text blue-text">
      <h2>Un produit sécurisé et dans le respect des lois RGPD, nous concevrons.</h2>
    </div>
    <div class="reason-img-container rotate">
      <img [attr.data-src]="'../../../assets/reason1.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title pink-title">
      <h2>Design</h2>
    </div>
    <div class="reason-text pink-text">
      <h2>Entre vos goûts et tendances actuelles, le meilleur visuel nous créerons.</h2>
    </div>
    <div class="reason-img-container">
      <img [attr.data-src]="'../../../assets/reason2.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title orange-title">
      <h2>Efficacité</h2>
    </div>
    <div class="reason-text orange-text">
      <h2>Un service de qualité et un professionnalisme, nous vous promettons.</h2>
    </div>
    <div class="reason-img-container">
      <img [attr.data-src]="'../../../assets/reason3.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="reason-img">
    </div>
    <div class="img-ombre">
      <img [attr.data-src]="'../../../assets/ombre.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="ombre-img">
    </div>
  </div>
</div>

<!-- Title Our Expertise -->
<div class="title1-container">
  <div class="title1-text"><h2>Notre expertise</h2></div>
  <div class="line"></div>
</div>

<!-- Expertise Part -->
<div class="expertise-container" id="expertise-container">
  <div class="expertise-img-container" [ngsReveal]="{reset:true}">
    <img src="../../../assets/expertise2.png"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="expertise-img">
  </div>
  <div class="expertise-text">
    <h1>
      Notre politique est simple : <strong>Vous simplifier la vie. </strong><br> <br>
      Nous vous accompagnons du début jusqu'à la fin dans tous les aspects de la conception de votre projet d'application web.<strong> De l'assemblage de la maquette jusqu'au déploiement du produit final,</strong> nous mettons nos compétences à votre service afin de créer votre idéal. <br> <br>
      Notre équipe, composée de talentueux profils, mettra tout en oeuvre pour satisfaire vos exigences.
    </h1>
  </div>
</div>

<div class="first-line" routerLinkActive="active">
  <div class="estimation-formule">
    <div>
      <a routerLink="/estimation">
        <h1>Estimez votre projet ici</h1>
      </a>
    </div>
  </div>
</div>

<!-- Title Interested in our services? -->
<div class="title1-container yolo contact-container-new" routerLinkActive="active">
  <div class="title1-text"><h2>Intéressés par nos services ?</h2></div>
  <div class="line"></div>
  <a routerLink="/contact">
    <div class="contact-new">
      <div class="round-contact blue-back">
        <i class="far fa-envelope"></i>
      </div>
    </div>
  </a>
</div>

<!-- Contact part -->
<div class="contact-container-new contact-container1">
</div>
