<!-- Banner Style -->
<div class="home-banner" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginDouble': variableService.largeur < 1080 && variableService.largeur > 500, 'myMarginSept': variableService.largeur < 500}">
  <div class="home-text-container">
    <div class="title-home-banner">
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="250">Be smart</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="600">Be attractive</span></div>
      <div class=""><span typingAnimation [typeSpeed]="25" hideCursorOnComplete="true" [startDelay]="950">Adopt <span class="underline">Dvio</span></span></div>
    </div>
    <div class="random-text-banner">Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.</div>
  </div>
  <div class="home-img">
    <img src="../../../assets/home-banner.png" alt="" class="home-banner-img">
  </div>
</div>

<!-- Arrow Down -->
<div class="arrow" id="down"><i class="fa fa-2x fa-chevron-down" [ngClass]="{'hidden': variableService.hauteurEcran > variableService.largeur}"></i></div>

<!-- Title Why Working With Us ? -->
<div class="title1-container">
  <div class="title1-text">Why working with us?</div>
  <div class="line"></div>
</div>

<!-- Reasons why Part -->
<div class="reason-container" [ngsRevealSet]="{ reset:true}" [ngsInterval]="300" [ngsSelector]="'.reason'">
  <div class="reason">
    <div class="reason-title blue-title">
      Security
    </div>
    <div class="reason-text blue-text">
      Alii nullo quaerente vultus severitate adsimulata.
    </div>
    <div class="reason-img-container rotate">
      <img src="../../../assets/reason1.png" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img src="../../../assets/ombre.png" class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title pink-title">
      Design
    </div>
    <div class="reason-text pink-text">
      Alii nullo quaerente vultus severitate adsimulata.
    </div>
    <div class="reason-img-container">
      <img src="../../../assets/reason2.png" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img src="../../../assets/ombre.png" class="ombre-img">
    </div>
  </div>
  <div class="reason">
    <div class="reason-title orange-title">
      Efficiency
    </div>
    <div class="reason-text orange-text">
      Alii nullo quaerente vultus severitate adsimulata.
    </div>
    <div class="reason-img-container">
      <img src="../../../assets/reason3.png" alt="" class="reason-img">
    </div>
    <div class="img-ombre">
      <img src="../../../assets/ombre.png" class="ombre-img">
    </div>
  </div>
</div>

<!-- Title Our Expertise -->
<div class="title1-container">
  <div class="title1-text">Our expertise</div>
  <div class="line"></div>
</div>

<!-- Expertise Part -->
<div class="expertise-container" id="expertise-container">
  <div class="expertise-img-container" [ngsReveal]="{reset:true}">
    <img src="../../../assets/expertise2.png" alt="" class="expertise-img">
  </div>
  <div class="expertise-text">
    Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes. <br> <br>
    Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, <strong> cultorum ut puta feracium multiplicantes. Alii nullo quaerente vultus severitate </strong> adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.<br><br>
    Alii nullo quaerente vultus severitate adsimulata patrimonia sua.
  </div>
</div>

<!-- Title Interested in our services? -->
<div class="title1-container yolo">
  <div class="title1-text">Interested in our services?</div>
  <div class="line"></div>
</div>

<!-- Contact part -->
<div class="contact-container1" >
  <form action="" class="contact1" [ngsRevealSet]="{ reset:true}" [ngsInterval]="200" [ngsSelector]="'.contact-div'">
    <div class="contact-div">
      <label for="email"></label>
      <input type="text" id="email" name="email" class="input-contact" placeholder="Email...">
    </div>
    <div class="contact-div">
      <label for="subject"></label>
      <input type="email" id="subject" name="subject" class="input-contact" placeholder="Subject...">
    </div>
    <div class="contact-div">
      <label for="msg"></label>
      <textarea id="msg" name="msg" class="textarea-contact" placeholder="Message..."></textarea>
    </div>
    <div class="contact-div">
      <button type="submit" class="button-contact">Send</button>
    </div>
  </form>
</div>
