<div class="deskop-screen" id="deskop-screen" [ngClass]="{'hidden': variableService.largeur<=500}" lazy-load-images>
  <!-- Clients Part FOR DESKOP -->
  <div class="client-container" [ngsRevealSet]="{ reset:true}" [ngsInterval]="500" [ngsSelector]="'.client'" routerLinkActive="active">
    <div class="client-left client" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginSept': variableService.largeur < 1080}">
      <a routerLink="dame-de-coeur" class="client-name"><div class="client-img-container">
        <img [attr.data-src]="'../../../assets/client1.png'" alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="client-img">
      </div></a>
      <div class="client-info-left">
        <div class="client-name"><a routerLink="dame-de-coeur" class="client-name">Dame de Coeur</a></div>
        <div class="client-description">
          <h2>La famille Duchatel, restaurateur français au cœur de Paris, nous a confié la réalisation du <strong> site vitrine </strong> de leur héritage.</h2>
        </div>
        <div class="client-detail-container">
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
            <div class="detail-name four-title"><h3>Javascript</h3></div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
            <div class="detail-name one-title"><h3>HTML</h3></div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
            <div class="detail-name two-title"><h3>CSS</h3></div>
          </div>
        </div>
      </div>
    </div>
    <div class="client-right client" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginSept': variableService.largeur < 1080}">
      <div class="client-info-right">
        <div class="client-name"><a routerLink="esmel-lian" class="client-name">Esmel Lian</a></div>
        <div class="client-description">
          <h2>Photographe de renom, Mme. Lian nous a fait confiance dans la réalisation d'un <strong> portfolio </strong> en accord avec son <strong>univers artistique.</strong></h2>
        </div>
        <div class="client-detail-container">
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-angular four-icon image-icon"></i></div>
            <div class="detail-name four-title"><h3>Angular</h3></div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
            <div class="detail-name one-title"><h3>HTML</h3></div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
            <div class="detail-name two-title"><h3>CSS</h3></div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
            <div class="detail-name four-title"><h3>Javascript</h3></div>
          </div>
        </div>
      </div>
      <a routerLink="esmel-lian" class="client-name"><div class="client-img-container">
        <img [attr.data-src]="'../../../assets/client2.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="client-img">
      </div></a>
    </div>
  </div>

  <!-- Title Reviews -->
  <div class="title4-container">
    <div class="title1-text"><h2>Reviews</h2></div>
    <div class="line"></div>
  </div>

  <!-- Review & arrow swap Part -->
  <div class="review-part">

    <!-- Reviews Part -->
    <ngb-carousel class="review-container" [interval]="6000">
      <ng-template ngbSlide [ngsReveal]="{reset:true}" >
        <section class="ArticleCopy">
          <blockquote>
            <p>"Notre famille chérit cet héritage depuis 3 générations maintenant. Et, par le professionnalisme et l'écoute dont a fait preuve Dvio, nous sommes ravis de nous être tournés vers eux."</p>
          </blockquote>
          <p class="auteur">By Jerome Duchatel @DameDeCoeur</p>
        </section>
      </ng-template>
      <ng-template ngbSlide [ngsReveal]="{reset:true}" >
        <section class="ArticleCopy">
          <blockquote>
            <p>"Je voulais un portfolio unique, un site retranscrivant mon  univers tout en restant léger et agréable à naviguer. Le résultat est exactement ce que je voulais ! "</p>
          </blockquote>
          <p class="auteur">By Miss Lian @EsmelLian</p>
        </section>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<!-- Work For Phone & Small Screen -->
<div class="phone-screen" id="phone-screen" [ngClass]="{'hidden': variableService.largeur>500}" (swipeleft)="next()" (swiperight)="prev()" lazy-load-images>
  <div class="work-all" [ngsRevealSet]="{ reset:true}" [ngsInterval]="500" [ngsSelector]="'.work'" routerLinkActive="active">
    <ngb-carousel #mycarousel [interval]="10000000" [showNavigationArrows]="show">
      <ng-template ngbSlide [ngsReveal]="{reset:true}">
        <div class="work1 work" id="work1" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginSept': variableService.largeur < 1080}">
          <div class="client-left client" id="client1">
            <a routerLink="dame-de-coeur" class="client-name"><div class="client-img-container">
              <img [attr.data-src]="'../../../assets/client1.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="client-img">
            </div></a>
            <div class="client-info-left">
              <div class="client-name"><a routerLink="dame-de-coeur" class="client-name">Dame de coeur</a></div>
              <div class="client-description">
                <h2>La famille Duchatel, restaurateur français au cœur de Paris, nous a confié la réalisation du <strong> site vitrine </strong> de leur héritage.</h2>
              </div>
              <div class="client-detail-container" [ngsRevealSet]="{ reset:true}" [ngsInterval]="150" [ngsSelector]="'.client-detail'">
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
                  <div class="detail-name four-title"><h3>Javascript</h3></div>
                </div>
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
                  <div class="detail-name one-title"><h3>HTML</h3></div>
                </div>
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
                  <div class="detail-name two-title"><h3>CSS</h3></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Title Reviews -->
          <div class="title4-container">
            <div class="title1-text"><h2>Reviews</h2></div>
            <div class="line"></div>
          </div>
          <!-- Reviews Part -->
          <div class="review-container">
            <section class="ArticleCopy">
              <blockquote>
                <p>"Notre famille chérit cet héritage depuis 3 générations maintenant. Et, par le professionnalisme et l'écoute dont a fait preuve Dvio, nous sommes ravis de nous être tournés vers eux."</p>
              </blockquote>
              <p class="auteur">By Jerome Duchatel @DameDeCoeur</p>
            </section>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide [ngsReveal]="{reset:true}" >
        <div class="work2 work" id="work2" [ngClass]="{'myMarginDix': variableService.largeur > 1080, 'myMarginSept': variableService.largeur < 1080}">
          <div class="client-right client" id="client2">
            <a routerLink="esmel-lian" class="client-name"><div class="client-img-container">
              <img [attr.data-src]="'../../../assets/client2.png'"  alt="Agence de developpeur Dvio, créateur et concepteur de site web design." class="client-img">
            </div></a>
            <div class="client-info-right">
              <div class="client-name"><a routerLink="esmel-lian" class="client-name">Esmel Lian</a></div>
              <div class="client-description">
                <h2>Photographe de renom, Mme. Lian nous a fait confiance dans la réalisation d'un <strong> portfolio </strong> en accord avec son <strong>univers artistique.</strong></h2>
              </div>
              <div class="client-detail-container">
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-angular four-icon image-icon"></i></div>
                  <div class="detail-name four-title"><h3>Angular</h3></div>
                </div>
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
                  <div class="detail-name one-title"><h3>HTML</h3></div>
                </div>
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
                  <div class="detail-name two-title"><h3>CSS</h3></div>
                </div>
                <div class="client-detail">
                  <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
                  <div class="detail-name four-title"><h3>Javascript</h3></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Title Reviews -->
          <div class="title4-container">
            <div class="title1-text"><h2>Reviews</h2></div>
            <div class="line"></div>
          </div>
          <!-- Reviews Part -->
          <div class="review-container">
            <section class="ArticleCopy">
              <blockquote>
                <p>"Je voulais un portfolio unique, un site retranscrivant mon  univers tout en restant léger et agréable à naviguer. Le résultat est exactement ce que je voulais ! "</p>
              </blockquote>
              <p class="auteur">By Miss Lian @EsmelLian</p>
            </section>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
