<div class="deskop-screen" id="deskop-screen" [ngClass]="{'hidden': variableService.largeur<=500}">
  <!-- Clients Part FOR DESKOP -->
  <div class="client-container">
    <div class="client-left client" [ngStyle]="{'marginTop.px': variableService.hauteur}">
      <div class="client-img-container">
        <img src="../../../assets/client1.png" alt="" class="client-img">
      </div>
      <div class="client-info-left" routerLinkActive="active">
        <div class="client-name"><a routerLink="pizza" class="client-name">La Gustosa</a></div>
        <div class="client-description">
          Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
        </div>
        <div class="client-detail-container">
          <div class="client-detail">
            <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
            <div class="detail-name two-title">Symfony</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
            <div class="detail-name four-title">Javascript</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
            <div class="detail-name one-title">HTML</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
            <div class="detail-name two-title">CSS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="client-right client" [ngStyle]="{'margin-top.px': variableService.hauteur}">
      <div class="client-info-right">
        <div class="client-name">La French Co</div>
        <div class="client-description">
          Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
        </div>
        <div class="client-detail-container">
          <div class="client-detail">
            <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
            <div class="detail-name two-title">Symfony</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
            <div class="detail-name four-title">Javascript</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
            <div class="detail-name one-title">HTML</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
            <div class="detail-name two-title">CSS</div>
          </div>
        </div>
      </div>
      <div class="client-img-container">
        <img src="../../../assets/client2.png" alt="" class="client-img">
      </div>
    </div>
    <div class="client-left client" [ngStyle]="{'marginTop.px': variableService.hauteur}">
      <div class="client-img-container">
        <img src="../../../assets/client3.png" alt="" class="client-img">
      </div>
      <div class="client-info-left">
        <div class="client-name">Tayuya Design</div>
        <div class="client-description">
          Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
        </div>
        <div class="client-detail-container">
          <div class="client-detail">
            <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
            <div class="detail-name two-title">Symfony</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
            <div class="detail-name four-title">Javascript</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
            <div class="detail-name one-title">HTML</div>
          </div>
          <div class="client-detail">
            <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
            <div class="detail-name two-title">CSS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Title Reviews -->
  <div class="title4-container">
    <div class="title1-text">Reviews</div>
    <div class="line"></div>
  </div>

  <!-- Review & arrow swap Part -->
  <div class="review-part">
    <!-- Arrow to the left -->
    <div class="arrow-left" id="arrow-left" (click)="arrowLeftReview()" [ngClass]="{'opacity': reviewIndex == 1}">
      <i class="fa fa-3x fa-chevron-left"></i>
    </div>

    <!-- Reviews Part -->
    <div class="review-container">
      <section class="ArticleCopy" id="review1" [ngClass]="{'hidden': reviewIndex != 1}">
        <blockquote>
          <p>"Most experienced developers shun this method, but it does get the job done; it is simple and direct. You may not use closures or anonymous functions here (though the handler itself is an anonymous function of sorts), and your control of scope is limited."</p>
        </blockquote>
        <p class="auteur">By Coca Puta @LaGustosa</p>
      </section>
      <section class="ArticleCopy" id="review2" [ngClass]="{'hidden': reviewIndex != 2}">
        <blockquote>
          <p>"As the transition to mobile devices has been rapidly occurring over the past five years, progressive EHR vendors have responded with clear plans and successful products to help expand the user experience. With more than half of physicians currently using a mobile device in their medical practices, these EHR vendors are allowing providers to choose which platform best fits in to their workflow in multiple healthcare delivery settings including highly usable mobile products."</p>
        </blockquote>
        <p class="auteur">By Sponge Bob @FrenchCo</p>
      </section>
      <section class="ArticleCopy" id="review3" [ngClass]="{'hidden': reviewIndex != 3}">
        <blockquote>
          <p>"Both can be used to handle events. However, addEventListener should be the preferred choice since it can do everything onclick does and more."</p>
        </blockquote>
        <p class="auteur">By Boris Concou @TayuyaDesign</p>
      </section>
    </div>

    <!-- Arrow to the right -->
    <div class="arrow-right" id="arrow-right" (click)="arrowRightReview()" [ngClass]="{'opacity': reviewIndex == nbReviews}">
      <i class="fa fa-3x fa-chevron-right"></i>
    </div>
  </div>
</div>

<!-- Work For Phone & Small Screen -->
<div class="phone-screen" id="phone-screen" [ngClass]="{'hidden': variableService.largeur>500}">
  <!-- Arrow to the left -->
  <div class="arrow-left" id="arrow-left2" (click)="arrowLeft2Work()" [ngClass]="{'opacity': workIndex == 1}">
    <i class="fa fa-3x fa-chevron-left"></i>
  </div>

  <div class="work-all">
    <div class="work1 work" id="work1" [ngStyle]="{'marginTop.px': variableService.hauteur}">
      <div class="client-left client" id="client1">
        <div class="client-img-container">
          <img src="../../../assets/client1.png" alt="" class="client-img">
        </div>
        <div class="client-info-left" routerLinkActive="active">
          <div class="client-name"><a routerLink="pizza" class="client-name">La Gustosa</a></div>
          <div class="client-description">
            Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
          </div>
          <div class="client-detail-container">
            <div class="client-detail">
              <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
              <div class="detail-name two-title">Symfony</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
              <div class="detail-name four-title">Javascript</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
              <div class="detail-name one-title">HTML</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
              <div class="detail-name two-title">CSS</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Reviews -->
      <div class="title4-container">
        <div class="title1-text">Reviews</div>
        <div class="line"></div>
      </div>
      <!-- Reviews Part -->
      <div class="review-container">
        <section class="ArticleCopy">
          <blockquote>
            <p>"Most experienced developers shun this method, but it does get the job done; it is simple and direct. You may not use closures or anonymous functions here (though the handler itself is an anonymous function of sorts), and your control of scope is limited."</p>
          </blockquote>
          <p class="auteur">By Coca Puta @LaGustosa</p>
        </section>
      </div>
    </div>
    <div class="work2 work" id="work2" [ngStyle]="{'marginTop.px': variableService.hauteur}">
      <div class="client-right client" id="client2">
        <div class="client-img-container">
          <img src="../../../assets/client2.png" alt="" class="client-img">
        </div>
        <div class="client-info-right">
          <div class="client-name">La French Co</div>
          <div class="client-description">
            Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
          </div>
          <div class="client-detail-container">
            <div class="client-detail">
              <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
              <div class="detail-name two-title">Symfony</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
              <div class="detail-name four-title">Javascript</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
              <div class="detail-name one-title">HTML</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
              <div class="detail-name two-title">CSS</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Reviews -->
      <div class="title4-container">
        <div class="title1-text">Reviews</div>
        <div class="line"></div>
      </div>
      <!-- Reviews Part -->
      <div class="review-container">
        <section class="ArticleCopy">
          <blockquote>
            <p>"As the transition to mobile devices has been rapidly occurring over the past five years, progressive EHR vendors have responded with clear plans and successful products to help expand the user experience."</p>
          </blockquote>
          <p class="auteur">By Sponge Bob @FrenchCo</p>
        </section>
      </div>
    </div>
    <div class="work3 work" id="work3" [ngStyle]="{'marginTop.px': variableService.hauteur}">
      <div class="client-left client" id="client3">
        <div class="client-img-container">
          <img src="../../../assets/client3.png" alt="" class="client-img">
        </div>
        <div class="client-info-left">
          <div class="client-name">Tayuya Design</div>
          <div class="client-description">
            Alii nullo quaerente <strong>vultus severitate adsimulata patrimonia </strong> sua in inmensum extollunt, cultorum ut puta feracium multiplicantes.
          </div>
          <div class="client-detail-container">
            <div class="client-detail">
              <div class="detail-logo"><img src="../../../assets/symfony.png" alt="" class="client-icon"></div>
              <div class="detail-name two-title">Symfony</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-js four-icon client-icon"></i></div>
              <div class="detail-name four-title">Javascript</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-html5 one-icon client-icon"></i></div>
              <div class="detail-name one-title">HTML</div>
            </div>
            <div class="client-detail">
              <div class="detail-logo"><i class="fab fa-4x fa-css3 two-icon client-icon"></i></div>
              <div class="detail-name two-title">CSS</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Reviews -->
      <div class="title4-container">
        <div class="title1-text">Reviews</div>
        <div class="line"></div>
      </div>
      <!-- Reviews Part -->
      <div class="review-container">
        <section class="ArticleCopy">
          <blockquote>
            <p>"Both can be used to handle events. However, addEventListener should be the preferred choice since it can do everything onclick does and more."</p>
          </blockquote>
          <p class="auteur">By Boris Concou @TayuyaDesign</p>
        </section>
      </div>
    </div>
  </div>

  <!-- Arrow to the right -->
  <div class="arrow-right" id="arrow-right2" (click)="arrowRight2Work()" [ngClass]="{'opacity': workIndex == nbWorks}">
    <i class="fa fa-3x fa-chevron-right"></i>
  </div>
</div>
