/* You can add global styles to this file, and also import other style files */
/* Random Style -------------- */
@import "node_modules/aos/src/sass/aos";

html {
  width: 100vw !important;
  overflow-x: hidden !important;
  max-width:100% !important;
  margin:0;
  padding: 0;
}

body {
  font-family: Roboto;
  width: 100vw !important;
  overflow-x: hidden !important;
  max-width:100% !important;
  margin:0;
  padding: 0;
}

.myMarginDix {
  margin-top: 10vh !important;
}

.myMarginDixPlus {
  margin-top: 12vh !important;
}

.myMarginSept {
  margin-top: 7vh !important;
}

.myMarginDouble {
  margin-top: 12vh !important;
}

.underline {
  text-decoration-line: underline ;
}

.line {
  width: 200px;
  border: 1px solid #169393;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1300px) {
  .line {
    width: 120px;
  }
}

.carousel-control-prev-icon{
  background-image: url('assets/arrow-left.png') !important;
  animation: arrowLeft 1s infinite;
  height: 40px;
  width: 40px;
}
.carousel-control-next-icon{
  background-image: url('assets/arrow-right.png') !important;
  animation: arrowRight 1s infinite;
  height: 40px;
  width: 40px;
}

.carousel-indicators li {
  background-color: #4CAAAA !important;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}


.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 0.7s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}


.carousel-control-next {
  z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}

.noIndicator .carousel-indicators {
  display: none !important;
}

ngb-carousel {
  outline:none !important;
}

@keyframes  arrowLeft {
  40% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes  arrowRight {
  40% {
    transform: translate(10px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0;
  visibility: hidden;
}

/* ScrollBar Style ---------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A6C4C4;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E7C7C;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
